.pera{
    width: min(100%,700px);
    margin: auto;
    /* color: rgb(0  0  0 / 0.4); */
}
.about-right{
    border: 1px solid grey;
    border-radius: 6px;
    margin: 20px 0;
}
.about{
    margin: 40px 0;
}